fastapi
pydantic
pydantic-settings
python-dotenv
openai
uvicorn
vllm
python-multipart

smolagents
langchain
langchain-community
langchain-openai

# Downloading models and datasets
huggingface-hub

# Retrieve
rank_bm25

# Command line interface
typer

# JWT tokens
pyjwt

# Database
sqlalchemy

