fastapi
pydantic[email]
pydantic-settings
python-dotenv
openai
uvicorn
vllm
python-multipart

smolagents
langchain
langchain-community
langchain-huggingface
langchain-openai

# Downloading models and datasets
huggingface-hub

# Retrieve
rank_bm25

# Command line interface
typer

# JWT tokens
pyjwt


# Passwords hash 
bcrypt

# Database
sqlalchemy
psycopg2-binary

# Working with pdf
pymupdf
PyPDF2

# Logging
loguru

# DB migrations
alembic

testcontainers[postgresql]



